{% extends "layouts/base.html" %}

{% load static %}

{% block title %}Carrito{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="mb-4 mt-3">Mi Carrito de Compras</h1>
        <div class="row gap-3 gap-md-0">
            <div class="col-md-8 d-flex flex-column gap-3">
                <!-- Lista de productos -->
                <div class="card rounded-0">
                    <div class="card-body">
                        <div class="d-flex flex-column flex-lg-row justify-content-between">
                            <div class="d-flex flex-column flex-md-row">
                                <img src="{% static 'img/3050.jpg'%}" alt="Producto 1" height="100" width="100">
                                <p class="fw-medium px-2">ASUS Nvidia GeForce RTX3050 ROG STRIX</p>
                            </div>
                            <div class="d-flex flex-column">
                                <p class="fw-medium">$400.000</p>
                                <form class="d-flex">
                                    <div class="input-group">
                                        <button onclick="cambiarValor('cantidad', -1)" type="button" class="btn btn-secondary rounded-0">-</button>
                                        <input style="width: 50px;" name="cantidad" type="number" class="form-control rounded-0 mx-auto" id="cantidad" min="0" value="1">
                                        <button onclick="cambiarValor('cantidad', 1)" type="button" class="btn btn-secondary rounded-0">+</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Agrega más productos aquí -->
                <div class="card rounded-0">
                    <div class="card-body">
                        <div class="d-flex flex-column flex-lg-row justify-content-between">
                            <div class="d-flex flex-column flex-md-row">
                                <img src="{% static 'img/i7 9700.jpg'%}" alt="Producto 1" height="100" width="100">
                                <p class="fw-medium px-2">Intel Core i7-9700</p>
                            </div>
                            <div class="d-flex flex-column">
                                <p class="fw-medium">$400.000</p>
                                <form>
                                    <div class="input-group">
                                        <button onclick="cambiarValor('cantidad1', -1)" type="button" class="btn btn-secondary rounded-0">-</button>
                                        <input style="width: 50px;" name="cantidad1" type="number" class="form-control rounded-0 mx-auto" id="cantidad1" min="0" value="1">
                                        <button onclick="cambiarValor('cantidad1', 1)" type="button" class="btn btn-secondary rounded-0">+</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <!-- Resumen del carrito -->
                <div class="card rounded-0">
                    <div class="card-body">
                        <h5 class="card-title">Resumen del Carrito</h5>
                        <p class="card-text">Total: $800.000</p>
                        <a href="#" class="btn rounded-0 btn-dark">Pagar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}