{% extends "layouts/base.html" %}

{% load static %}

{% block title %}{{ request.user.first_name }}{% endblock %}


{% block content %}
    <div class="container">
        <div class="row mt-5">
            <div class="col-12 col-md-4 mb-3">
                <div class="card h-100 bg-body-secondary rounded-0">
                    <div class="card-body">
                        <img src="{% static 'img/blank-profile-picture.png'%}" alt="Foto de perfil" class="img-fluid rounded-circle">
                        <h3 class="card-title text-center">{{ request.user.get_full_name }}</h3>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-8 mb-3">
                <div class="card bg-body-secondary rounded-0">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <h3 class="card-title">Información personal</h3>
                            <button type="button" id="editarPerfil" class="btn btn-dark rounded-0"><i class="bi bi-pencil-square"></i></button>
                            
                        </div>
                        <form id="datosPerfil" class="needs-validation" novalidate>
                            <div class="row">
                                <div class="mb-3 col-12 col-md-6">
                                    <label for="nombre" class="form-label">Nombre</label>
                                    <input type="text" class="form-control rounded-0" id="nombre" value="{{request.user.nombre}}" disabled required>
                                </div>
                                <div class="mb-3 col-12 col-md-6">
                                    <label for="apellido" class="form-label">Apellido</label>
                                    <input type="text" class="form-control rounded-0" id="apellido" name="apellido" value="{{request.user.apellido}}" disabled required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="mb-3 col-12 col-md-6">
                                    <label for="correo" class="form-label">Correo</label>
                                    <input type="email" class="form-control rounded-0" id="correo" name="email" value="{{request.user.email}}" inputmode="email" disabled required>
                                </div>
                                <div class="mb-3 col-12 col-md-6">
                                    <label for="telefono" class="form-label">Teléfono</label>
                                    <div class="input-group">
                                        <span class="input-group-text rounded-0">+56</span>
                                        <input type="tel" class="entrada-numeros form-control rounded-0" id="telefono" name="telefono" value="{{request.user.telefono}}" inputmode="tel" maxlength="9" disabled required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="mb-3 col-12">
                                    <label for="rut" class="form-label">RUT</label>
                                    <input type="text" class="validar-rut form-control rounded-0" id="rut" name="rut" value="{{request.user.run}}" maxlength="10" disabled required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="mb-3 col-12">
                                    <label for="direccion" class="form-label">Dirección</label>
                                    <input type="text" class="form-control rounded-0" id="pac-input" name="direccion" value="{{request.user.direccion}}" placeholder="Calle 1234, Ciudad" disabled required>
                                    <div id="map"></div>
                                </div>
                            </div>
                            <!-- <hr>
                            <div class="mb-3">
                                <button type="button" data-bs-toggle="modal" data-bs-target="#modalAgregarTarjeta" class="btn btn-outline-success rounded-0">Agregar tarjeta <i class="bi bi-credit-card"></i></button>
                            </div> -->
                            <button type="submit" id="guardarPerfil" class="btn btn-dark rounded-0 d-none">Guardar Cambios</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-12">
                <div class="card bg-body-secondary rounded-0">
                    <div class="card-header">
                        <h3 class="card-title">Historial de compras</h3>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">*</th>
                                        <th scope="col">Producto</th>
                                        <th scope="col">Precio</th>
                                        <th scope="col">Fecha</th>
                                        <th scope="col">Estado</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Intel Core i7-9700</td>
                                        <td>$400.000</td>
                                        <td>01/01/2021</td>
                                        <td>Entregado</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>ASUS Nvidia GeForce RTX3050 ROG STRIX</td>
                                        <td>$400.000</td>
                                        <td>01/01/2021</td>
                                        <td>Entregado</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">3</th>
                                        <td>Intel Core i7-9700</td>
                                        <td>$400.000</td>
                                        <td>01/01/2021</td>
                                        <td>Entregado</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">4</th>
                                        <td>ASUS Nvidia GeForce RTX3050 ROG STRIX</td>
                                        <td>$400.000</td>
                                        <td>01/01/2021</td>
                                        <td>Entregado</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">5</th>
                                        <td>Intel Core i7-9700</td>
                                        <td>$400.000</td>
                                        <td>01/01/2021</td>
                                        <td>Entregado</td>
                                    </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="modalAgregarTarjeta" tabindex="-1" aria-labelledby="modalAgregarTarjeta"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Agregar una tarjeta</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!-- Formulario de tarjeta -->
                        <form id="datosTarjeta" class="needs-validation" novalidate>
                            <div class="mb-3">
                                <label for="nroTarjeta" class="form-label">Número de la tarjeta</label>
                                <input id="nroTarjeta" class="form-control" type="number">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <!-- llamado a google maps -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDXNCKw3k07Z0QLw2GOuPjajvS0psHVCX0&region=CL&language=es&libraries=places&callback=initAutocomplete"
        async defer></script>
    <!-- Script de google maps -->
    <script src="{% static 'js/google.maps.script.js'%}"></script>
{% endblock %}