{% load static %}

<div class="container-fluid bg-body-tertiary p-5" data-bs-theme="dark">
    <div class="row">
        <div class="col-12 col-md-6 d-flex flex-column">
            <div class="d-flex"><img height="50" src="{% static 'img/logo.png'%}" alt=""><h1 class="fs-4 text-dark-emphasis align-self-center">TECHMASTER</h1></div><br>
            <p class="h4 text-body-secondary">¿Quienes somos?</p>
            <p class="text-justify text-dark-emphasis">Somos una tienda de hardware de pc, con una amplia variedad de productos y accesorios para tu computadora.</p>
        </div>
        <div class="col-12 col-md-6 d-flex flex-column">
            <p class="h4 text-body-secondary">Contacto</p>
            <p class="text-dark-emphasis"><i class="bi bi-geo-alt-fill"></i> Dirección: Calle 123 # 456</p>
            <a href="tel:123 456 7890" class="text-dark-emphasis"><i class="bi bi-telephone-fill"></i> Teléfono: 123 456 7890</a>
            <a href="mailto:contacto@techmasterstore.cl" class="text-dark-emphasis"><i class="bi bi-envelope-fill"></i> Correo: contacto@techmasterstore.cl</a>
        </div>
    </div>
</div>